@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  background: #22254b;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  padding: 15px;
  background: #373b69;
}

header .wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#searchForm input {
  width: 85%;
  padding: 10px;
  border: 2px solid #22254b;
  border-radius: 30px;
  background: #373b69;
  color: #fff;
  font-size: 16px;
  outline: none;
  text-indent: 5px;
}

#searchForm input::placeholder { color: #7370bf; }
#searchForm input:focus { background: #22254b; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

main {
  background: #22254b;
  padding: 10px;
}

main .wrapper { width: 100%; }

.wrapper > h2 {
  margin-top: 50px;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

main .wrapper ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

main .wrapper ul li {
  width: 300px;
  min-height: 570px;
  height: auto;
  margin: 12px;
  position: relative;
  background: #373b69;
  overflow: hidden;
}

main .wrapper ul li:hover .movie-info { bottom: 0; }

.movie-name {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #fff; */
}

.movie-name h2 {
  width: 75%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.movie-name span {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 4px;
  background: #22254b;
  color: #f39548;
}

.movie-info {
  padding: 50px 30px 20px 30px;
  position: absolute;
  bottom: -150%;
  background: #fff;
  transition: .6s ease;
}

.movie-info h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 900;
}

.average { color: #FF5733; }
.flop { color: #fa0303; }
.hit { color: #2aa130; }
.none { display: none; }

/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  main .wrapper ul {
    justify-content: center;
  }
}
/*media query for 1024px ends here*/

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  header .wrapper {
    justify-content: center;
  }
}
/*media query for 540px ends here*/